@model MyMvcApp.Models.Item
@{
     var items = new List<string> {"item1" , "item2" , "item3" ,"item4"};
}

<ul>
    @foreach(var item in items)
    {
        <li>
            @item
        </li>
    }
</ul>